image: owncloudci/php:8.1
manifests:
  - image: owncloudci/php:8.1-amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/php:8.1-arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
