image: owncloudci/php:latest
manifests:
  - image: owncloudci/php:amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/php:arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
