image: owncloudci/php:7.3
manifests:
  - image: owncloudci/php:7.3-amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/php:7.3-arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
