image: owncloudci/php:7.2
manifests:
  - image: owncloudci/php:7.2-amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/php:7.2-arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
